<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Idayari</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <h1>Idayari</h1>
    <% if (locals.user) { %>
    <div>
      <a href="/deconnexion">Se déconnecter</a>
    </div>
    <p>Bienvenue, <%= locals.user.username %>.</p>
    <div>
      <a href="/infos_perso" class="button">Mes informations personnelles</a><br>
      <button id="ouvreDialogCreationAgenda">Créer un agenda</button><br>
      <a href="/rendezvous/new">Ajouter un rendez-vous</a>
    </div>
    <div>
      <h2>Vos agendas
          <button onclick="window.location.href='/modifierAgendas'">Modifier</button>
      </h2>
      <ul>
        <% for (const agenda of locals.agendas) { %>
          <li>
            <h3>
              <%= agenda.nom %>
            </h3>
          <ul>
            <% const rendezVous = await agenda.getRendezVous(); %>
            <% for (const rv of rendezVous) {
              //Conversion des dates dans un format lisible
              const dateDeb = new Date(rv.dateDebut);
              const deb = dateDeb.toLocaleDateString('fr-FR', {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
                hour: '2-digit',
                minute: '2-digit'
              });
              const dateFin = new Date(rv.dateFin);
              const fin = dateFin.toLocaleDateString('fr-FR', {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
                hour: '2-digit',
                minute: '2-digit'
              });
            %>

            %>
              <li><%= rv.titre %> | Du <%= deb %> au <%= fin %>
                <% if (rv.lieu && rv.lieu.trim() !== "") { %>
                  | à : <%= rv.lieu %>
                <% } %>
                <% if (rv.description && rv.description.trim() !== "") { %>
                  | description : <%= rv.description%>
                <% } %>
                 </li>

              <% } %>
          </ul>
          </li>
          <% } %>
      </ul>
    </div>
    <%} else{ %>
    <div>
      <a href="/connexion">Se Connecter</a>
      <a href="/inscription">S'inscrire</a>
    </div>
    <%} %>
    <div>
      <%- await include('viewDialogCreationAgenda') %>
    </div>
  </body>
  <script src="/js/dialogCreationAgenda.js"></script>
</html>
