<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Idayari</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/main.css">
  <link href="/css/index.css" rel="stylesheet">

</head>

<body>
  <% if (locals.user) { %>
    <div>
      <a href="/deconnexion">Se déconnecter</a>
    </div>
    <p>Bienvenue, <%= locals.user.username %>.</p>
    <div>
      <a href="/infos_perso" class="button">Mes informations personnelles</a><br>
      <a href="/creerAgenda">Créer un agenda</a><br>
      <a href="/rendezvous/new">Ajouter un rendez-vous</a>
    </div>
    <div>
      <h2>Vos agendas</h2>
      <ul>
        <% for (const agenda of locals.agendas) { %>
          <li>
            <h3>
              <%= agenda.nom %>
            </h3>
            <ul>
              <% const rendezVous=await agenda.getRendezVous(); %>
                <% for (const rv of rendezVous) { //Conversion des dates dans un format lisible
                  const dateDeb=new
                  Date(rv.dateDebut); const deb=dateDeb.toLocaleDateString('fr-FR', { year: 'numeric' , month: 'long' ,
                  day: 'numeric' , hour: '2-digit' , minute: '2-digit' }); const dateFin=new Date(rv.dateFin); const
                  fin=dateFin.toLocaleDateString('fr-FR', { year: 'numeric' , month: 'long' , day: 'numeric' ,
                  hour: '2-digit' , minute: '2-digit' }); %>

                  %>
                  <li>
                    <%= rv.titre %> | Du <%= deb %> au <%= fin %>
                          <% if (rv.lieu && rv.lieu.trim() !=="" ) { %>
                            | à : <%= rv.lieu %>
                              <% } %>
                                <% if (rv.description && rv.description.trim() !=="" ) { %>
                                  | description : <%= rv.description%>
                                    <% } %>
                  </li>

                  <% } %>
            </ul>
          </li>
          <% } %>
      </ul>
    </div>
    <%} else{ %>
      <div class="container-fluid bg-background-color">
        <div class="row">
          <nav class="navbar">
            <div class="container-fluid">
              <div>
                <img src="/img/favicon.ico" alt="icon" class="s-32" loading="lazy">
                <a class="navbar-brand text-black">Idayari</a>
              </div>
              <div class="d-flex">
                <a href="/connexion" class="btn btn-primary btn-sm bg-primary me-3 rounded-4 text-white">Se Connecter</a>
                <a href="/inscription" class="btn btn-secondary btn-sm bg-secondary rounded-4 text-white">S'inscrire</a>
              </div>
            </div>
          </nav>
        </div>

        <div class="row">
          <div class="position-relative text-center">
            
            <div class="my-8">
              <h1 class="fs-2 text-primary">Idayari. Une application agenda pour tout le monde</h1>
              <h2 class="fs-7 text-black">Créer, importer, exporter et partager des agendas. L’unique
                application dont vous aurez besoin pour gérer votre temps.</h2>
            </div>
            <img src="/img/index_1.png" alt="agenda" class="s-x0-8 mb-5" loading="lazy">
            <h2 class="my-8 fs-3">Quelques fonctionnalités</h2>
            <div class="row justify-content-evenly align-items-stretch">
              <div class="card p-4 card-custom">
                <img src="/img/index_2.svg" class="card-img-top img-fluid" alt="import/export" loading="lazy">
                <div class="card-body">
                  <h5 class="card-title">Importer/Exporter</h5>
                  <p class="card-text">Vous pouvez importer ou exporter un agenda en . json</p>
                </div>
              </div>
              <div class="card p-4 card-custom">
                <img src="/img/index_3.svg" class="card-img-top img-fluid" alt="share" loading="lazy">
                <div class="card-body">
                  <h5 class="card-title">Partager</h5>
                  <p class="card-text">Vous pouvez partager vos agendas avec vos amis, collègues. </p>
                </div>
              </div>
              <div class="card p-4 card-custom">
                <img src="/img/index_4.svg" class="card-img-top img-fluid" alt="search" loading="lazy">
                <div class="card-body">
                  <h5 class="card-title">Rechercher</h5>
                  <p class="card-text">Vous pouvez chercher avec des filtres dans vos agendas</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="row justify-content-center mb-8 mt-5">
          <div class="col-12 col-md-9 col-lg-6 mb-8">
            <div class="accordion" id="accordionExample">
              <h3 class="text-center mb-8">Questions souvents posés</h3>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Pourquoi devrais-je utiliser Idayari ?
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>Idayari</strong> est une application complète pour la gestion de vos agendas. Avec
                    <strong>Idayari</strong>, vous pouvez
                    <u>créer</u>, <u>organiser</u> et organiser <u>organiser</u> vos agendas en fonction de vos besoins.
                    Vous avez aussi la
                    possibilité d'<u>importer</u> et d'<u>exporter</u> vos agendas au format JSON, facilitant
                    l'intégration avec
                    d'autres outils. De plus, vous pouvez <u>partager</u> vos agendas avec vos amis ou collègues,
                    rendant
                    la collaboration plus fluide. Grâce à sa simplicité et ses fonctionnalités avancées,
                    <strong>Idayari</strong> est
                    l'outil idéal pour gérer votre temps efficacement et sans effort.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Idayari est-il un outils gratuit ?
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>Oui, Idayari</strong> est entièrement <strong>gratuit</strong> ! Vous pouvez profiter de
                    toutes ses fonctionnalités sans
                    frais, y compris la création, l'importation et l'exportation d'agendas, ainsi que le partage de vos
                    calendriers avec d'autres utilisateurs. Notre objectif est de fournir une solution accessible à tous
                    pour gérer facilement leur emploi du temps, que ce soit pour un usage personnel ou professionnel.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Puis-je accéder à mes agendas depuis plusieurs appareils ?
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    Oui, avec Idayari, vous pouvez accéder à vos agendas depuis n'importe quel appareil connecté à
                    Internet. Que vous soyez sur un ordinateur, une tablette ou un smartphone, vos calendriers seront
                    toujours synchronisés. Cela vous permet de gérer vos événements où que vous soyez, et de partager
                    vos
                    agendas en temps réel avec vos collègues ou amis.

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-8 text-center">
          <h2 class="mb-8 fs-3">Commencez dès aujourd'hui</h2>
          <a type="button" href="/inscription" class="btn btn-primary bg-primary mb-8 text-white">Se lancer</a>
        </div>
      </div>

      <div class="toast-container">
        <div class="toast show position-fixed bottom-0 p-3" role="alert" aria-live="assertive" aria-atomic="true"
          style="right: 30px;">
          <div class="toast-header">
            <img src="/img/cookies.png" alt="cookies" class="me-3">
            <strong class="me-auto">Cookies</strong>
            <small class="text-body-secondary">just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            <span class="text-black">Vous aimez les cookies ? Moi oui ! </span>
            <div class="mt-4">
              <button type="button" class="btn btn-primary btn-sm text-white" onclick="cookies(true)"
              data-bs-dismiss="toast">Oui</button>
            <button type="button" class="btn btn-secondary btn-sm text-white" onclick="cookies(false)"
              data-bs-dismiss="toast">Non</button>
            </div>
          </div>
        </div>

        <script src="/js/index.js"></script>
        <%} %>
          <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>