<div class="modal fade" id="dialogRDVRec" tabindex="-1" aria-labelledby="dialogAgendaLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <% const verb = locals.action == "Suppression" ? "Supprimer" : "Modifier" %>
                <h6><%= locals.action %> de rendez-vous récurrents</h6>
                Quels rendez-vous <%= verb.toLowerCase() %> ?
                <br>
                <form method="POST" id="rec_rdv_form">
                    <div class="mb-3">
                        <label>
                            <input type="radio" name="which_event" value="this" required <%= agenda_changed ? "disabled" : "checked" %>>
                            Ce rendez-vous
                        </label>
                        <% if (agenda_changed) { %>
                            <div style="font-size: 0.8em;">On ne peut pas modifier un rendez-vous particulier avec un agenda différent.</div>
                        <% } %>
                        <div style="font-size: 0.8em;">Les modifications de récurrence seront perdus</div>
                        <label>
                            <input type="radio" name="which_event" value="future" <%= agenda_changed ? "disabled" : "" %>>
                            Ce rendez-vous et les rendez-vous futurs
                        </label>
                        <label>
                            <input type="radio" name="which_event" value="all">
                            Tous les rendez-vous
                        </label>
                        <div style="font-size: 0.8em;">Les modifications de dates ne seront pas propagées aux rendez-vous modifiés auparavant</div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-secondary text-white" id="closeDialogRDVRec" data-bs-dismiss="modal">Annuler</button>
                        <input type="submit" class="btn btn-primary ms-2 text-white" value="<%= verb %>">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>